{% extends 'design/main.html' %}
{% load static %}
{% block content %}
    <h1>Checkout</h1>
    
    <div class="row">

        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
				<form id="form">
                    
					<div id="user-info">

                        <p><h4>Enter Personal Information:</h4></p>

						<div class="form-field">
							<input required class="form-control" type="text" name="full_name" placeholder="Full name">
                        </div>
                        
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email">
                        </div>

                        <div class="form-field">
							<input required class="form-control" type="text" name="phone_number" placeholder="Phone number">
                        </div>
                        
					</div>
					
					<div id="shipping-info">
                        
                        <p><h4>Enter Shipping Address:</h4></p>
                    
                        <div class="form-field">
							<input required class="form-control" type="text" name="address_line_1" placeholder="Address line 1">
                        </div>

                        <div class="form-field">
							<input required class="form-control" type="text" name="address_line_2" placeholder="Address line 2">
                        </div>
                        
						<div class="form-field">
							<input required class="form-control" type="text" name="city" placeholder="City">
                        </div>
                        
						<div class="form-field">
							<input required class="form-control" type="text" name="state" placeholder="State">
                        </div>
                        
						<div class="form-field">
							<input required class="form-control" type="text" name="postal_code" placeholder="Postal code">
                        </div>

                    </div>
                    
                    <div id="payment-info">
                        
                        <p><h4>Enter Payment Method:</h4></p>

                        <div class="form-field-for-payment">
							<input required class="form-control" type="text" name="card_type" placeholder="Debit or Credit">
                        </div>
                    
                        <div class="form-field-for-payment">
							<input required class="form-control" type="text" name="name_on_card" placeholder="Name on card">
                        </div>

                        <div class="form-field-for-payment">
							<input required class="form-control" type="text" name="card_number" placeholder="Card number">
                        </div>
                        
						<div class="form-field-for-payment">
							<input required class="form-control" type="text" name="expiration_date" placeholder="Expiration date (Ex: 06/28)">
                        </div>
                        
						<div class="form-field-for-payment">
							<input required class="form-control" type="text" name="cvc_number" placeholder="The 3-digit security code">
                        </div>

					</div>

                    <hr>
                    
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Place your order">
                    
                </form>
                
            </div>

            <br>
            
			<!-- <div class="box-element hidden" id="payment-info">
                <small>Paypal Options</small>
			</div> -->
            
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{% static 'images/placeholder.png' %}"></div>
					<div style="flex:2"><p>Product 1</p></div>
					<div style="flex:1"><p>$20.00</p></div>
					<div style="flex:1"><p>x2</p></div>
				</div>
                <h5>Items:   2</h5>
				<h5>Total:   $40</h5>
            </div>
        </div>


    </div>
{% endblock content %}