{% extends 'design/main.html' %}
{% load static %}
{% block content %}
<title>Home</title>
    <!-- {% if request.user.is_authenticated %}

    <p>Hello, {{request.user.username}}</p>
    {% endif %} -->

<div class="filt">
    <br>
    <form method="get">

        <select class="sort-by" name="price" id="id_price" onchange='sort_filter()'>
            <option value="" selected>Sorted By:</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="LTH">Low to High</option>
            <option value="HTL">High to Low</option>
        </select>

        <script>
            function sort_filter() {
                var prices = document.getElementById("id_price").value;
                var current_parameter = location.search.substring(1);
                var url = window.location.href;
                var search_params = new URLSearchParams(current_parameter);

                if (current_parameter == ''){
                    window.location.search += '?price='+prices;
                } else if(search_params.has('price') && !(search_params.has('categories'))){
                    window.location.search = '?price='+prices;
                } else if(!(search_params.has('price'))){
                    window.location.search += '&price='+prices;
                } else{
                    cat = search_params.get('categories')
                    window.location.search = '?categories='+cat+'&'+cat+'='+search_params.get(cat)+'&price='+prices;
                }
            }
        </script>

    </form>

</div>

    <div class="row" id="results">

        {% for champs in all %}
        <div class="col-lg-3 abc" id="contain">
            <img class ="thumbnail" src="{{champs.imageURL}}">
            <div class="box-element product">
            <span class="champ_name">
                <h6>{{champs.name}}</h6></span>
            <span class= "champ_role">
                <h6>{{champs.role}}</h6></span>
                <hr>
                <button data-product="{{champs.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart buynow">Add to Cart</button>
                <h4 style="float: right">${{champs.price}}</h4>

            </div>
        </div>
        {% endfor %}

    </div>
<!-- <script> function myFun(){alert("item had successfully added to cart");}</script> -->
<script>
    $(".buynow").click(function(){

        var $this = $(this);
        $this.toggleClass('.buynow2');
        if($this.hasClass('.buynow')){
            $this.text('Add to Cart');
        }else{
            $this.text('Purchased')
        }

    });
</script>
{% endblock content %}
